#menu {
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
    float: left;
}

.bar{
    height: 5px;
    width: 100%;
    background-color: #B9BAA3;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar-1{
    transform: translateY(-4px);
}

#bar-3{
    transform: translateY(4px);
}

.nav-2 li a{
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
}

.nav-2 li a:hover{
    font-weight: bold;
    color: #902923;
}

.nav-2 li{
    list-style: none;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    line-height: 4rem;
    width: 100%;
}

.nav-2{
    padding: 0;
    transition: 0.3s ease;
    display: none;
    height: 100%;
}

.change .bar{
    background-color: white;
}

.change #bar-1{
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar-3{
    transform: translateY(-6px) rotate(45deg);
}

.change #bar-2{
    opacity: 0;
}

.change{
    display: block;
}

.menu-bg{
    z-index: 1;
    width: 0;
    height: 0;
    border-radius: 50%;
    transition: 0.3s ease;
}

#menu-bar{
    z-index: 2;
    background-color: #0A100D;
    background-image: linear-gradient(315deg, #0A100D 0%, #111111 74%);
}

.change-bg{
    width: 550px;
    height: 540px;
    transform: translate(-60%, -30%);
}

.menu-bg, #menu-bar{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
}

.nav-2{
    height: 50rem;
}

#socialMedia{
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    display: flex;
    margin: auto;
}

#instagram-icon a{
    margin-right: 1rem;
    color: #902923;
    cursor: pointer;
    font-size: 3rem;
}

#facebook-icon a{
    margin-right: 1rem;
    color: #902923;
    cursor: pointer;
    font-size: 3rem;
}

#facebook-icon a:hover{
    color: #ffffff;
    transition: .5s ease;
}

#instagram-icon a:hover{
    color: #ffffff;
    transition: .5s ease;
}

#mail-icon a{
    color: #902923;
    cursor: pointer;
    font-size: 3rem;
}

#mail-icon a:hover{
    color: #ffffff;
    transition: .5s ease;
}

.active-responsive{
    color: #902923 !important;
}

#brand{
    color: #B9BAA3;
    font-size: 1.6rem;
    text-align: center;
    margin-right: 3.4rem;
    margin-top: 1.2rem;
    display: flex;
    flex-direction: column;
    line-height: 1.3rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
}

#secondary-txt span{
    font-size: 0.8rem;
}
