.tittle-portfolio {
    background-image: url("../res/images-portfolio/computer-768608_1920.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: -3rem !important;
    padding: 8rem;
    -webkit-box-shadow: inset 1px 1px 300px 83px rgba(0,0,0,0.51);
    -moz-box-shadow: inset 1px 1px 300px 83px rgba(0,0,0,0.51);
    box-shadow: inset 1px 1px 300px 83px rgba(0,0,0,0.51);
}

.tittle-portfolio h2 {
    font-size: 3rem;
    color: white;
}

.tittle-portfolio p {
    margin-top: 5rem;
    text-align: center;
    color: ivory;
}

#portfolio-center {
    background-color: white;
    width: 80%;
    margin: auto;
    margin-bottom: -3rem;
}

.work-photo img {
    width: 241px;
    height: 164px;
    margin: 6rem;
    float: left;
    margin-top: 3rem;
    margin-right: 3rem;
}

.work-text {
    width: 90%;
    text-align: justify;
    font-size: 1.3rem;
    padding: 0.8rem;
}

.work-text h3 {
    font-size: 1.5rem;
    line-height: 10px;
}

.work-buttons button{
    height: 3rem;
    color: white;
    background-color: rgb(20, 20, 20);
    cursor: pointer;
    border: 2px solid #902923;
    margin-bottom: 2rem;
    margin-top: 30px;
}

#tags span {
    background-color: tomato;
    border-radius: 5px;
    padding: 3px;
    margin-right: 7px;
}

.coming-soon {
    text-align: center;
    padding: 2rem;
}

.coming-soon span {
    font-size: 2rem;
}

.clear-fix {
    clear: both;
    float: none;
}


@media(max-width: 1191px) {
    .work-text h3 {
        font-size: 1.3rem;
        line-height: 30px;
        margin-bottom: 0;
    }
    .work-text {
        font-size: 1rem;
    }
}

@media(max-width: 999px) {
    .work-text h3 {
        font-size: 1rem;
        text-align: left;
    }
    .work-photo img {
        margin-top: 4rem;
    }
    .work-text {
        font-size: 0.9rem;
    }
    .work-buttons button {
        height: 2.5rem;
    }
    #tags span {
        font-size: 0.8rem;
    }
}

@media(max-width: 877px) {
    #tags span {
        font-size: 0.7rem;
    }
}

@media(max-width: 835px) {
    .work-photo img {
        float: none;
        width: 70%;
        height: 17rem;
        display: block;
        margin: auto;
        padding-top: 2rem;
    }
    #tags span {
        font-size: 1rem;
        margin-right: 4px;
    }
    .work-text h3 {
        font-size: 1.3rem;
    }
    .work-text {
        margin-top: -2rem;
        padding: 2rem;
    }
}

@media(max-width: 625px) {
    .work-photo img {
        width: 64%;
        height: 14rem;
    }
    .work-text {
        padding: 1.3rem;
    }
}

@media(max-width: 594px) {
    .work-photo img {
        width: 70%;
        height: 12rem;
    }
}

@media(max-width: 556px) {
    #tags span {
        font-size: 0.8rem;
    }
}

@media(max-width: 409px) {
    #portfolio-center {
        width: 92%;
    }
}

@media(max-width: 345px) {
    #portfolio-center {
        width: 95%;
    }
    #tags span {
        font-size: 0.7rem;
    }
}

/*Bannner*/

@media(max-width: 742px) {
    .tittle-portfolio h2 {
        font-size: 2.4rem;
    }
    .tittle-portfolio {
        padding: 5rem;;
    }
}

@media(max-width: 667px) {
    .coming-soon span {
        font-size: 1.6rem;
    }
}

@media(max-width: 620px) {
    .tittle-portfolio {
        padding: 2rem;
    }
}

@media(max-width: 468px) {
    .tittle-portfolio {
        padding: 2rem;
    }
    .tittle-portfolio p {
        margin-top: 3rem;
    }
    .tittle-portfolio h2 {
        font-size: 2rem;
    }
    .center h2 {
        margin-top: 3rem;
    }
}

@media(max-width: 557px) {
    #portfolio-center {
        margin-bottom: -7rem;
    }
    .coming-soon span {
        font-size: 1.4rem;
    }
}

@media(max-width: 389px) {
    .tittle-portfolio h2 {
        font-size: 1.7rem;
    }
}