body {
    background-color: #902923;
    font-family: 'Bree Serif', serif;
}

.TODO{
    z-index: 100;
    position: absolute;
    width: 100%;
}

#particles{
    position: fixed;
    height: 100%;
    width: 100%;
}

#tsparticles{
    width: 100%;
    height: 100%;
}


ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li{
    margin-right: 2rem;
}

.default-menu .nav-bar{
    display: flex;
    flex-direction: row;
    background-color: #B9BAA3;
}

h2{
    font-size: 3rem;
    text-align: center;
    color: #B9BAA3;
}

.default-menu .nav-bar a {
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding: 14px 16px;
    color: #A22C29;
}

.default-menu .nav-bar a:hover{
    background: #902923;
    color: #D6D5C9;
}

.mobile-menu{
    visibility: hidden;
}

.center{
    margin: auto;
    margin-top: 3rem;
    width: 90%;
    height: auto;
}

.logo{
    width: 17rem;
    margin: auto;
    display: block;
}

.Presentation{
    color: #D6D5C9;
    text-align: center;
    font-size: 2rem;
    line-height: 1.5;
}

.btn-serv button{
    text-align: center;
    cursor: pointer;
    height: 3rem;
    margin: auto;
    display: block;
    color: #B9BAA3;
    background-color: #0A100D;
    border-radius: 16px;
    border: none;
}

.contact{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 0rem;
}

.contact label{
    color: #B9BAA3;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.contact input{
    background-color: #D6D5C9;
    padding: 0.3rem;
    border: 0;
}

.contact select{
    border: 0;
    padding: 0.3rem;
    background-color: #D6D5C9;
}

.contact textarea{
    border: 0;
    margin-bottom: 3rem;
    background-color: #D6D5C9;
    padding: 0.3rem;
}

.footer{
    background-color: #B9BAA3;
    color: #902923;
    font-size: 12px;
    height:auto;
    width:100%;
    margin-top: 3rem;
}

.descripion{
    text-align: center;
    color: #D6D5C9;
}

.row{
    padding: 20px;
    float: left;
    margin-left: 5rem;
    font-size: 1.2rem;
    line-height: 2;
}

.row ul li a{
    text-decoration: none;
    color: #0A100D;
}

.row ul li a:hover{
    color: #902923;
    cursor: pointer;
}

.clearfix {
    clear: both;
    float: none;
  }

.txt-footer{
    text-align: center;
    font-size: 13px;
    padding: 1rem;
}

.icon-plane{
    text-align: center;
    font-size: 11rem;
    color: #D6D5C9;
}

.txt-contact p{
    color: #D6D5C9;
    text-align: center;
    font-size: 1.5rem;
}

.txt-contact button {
    outline: none;
    border: 0;
    margin: auto;
    display: block;
    background-color: #D6D5C9;
    color: #902923;
    height: 2.5rem;
    width: 11rem;
    font-size: 22px;
    cursor: pointer;
}

.txt-contact button:hover {
    background-color: #0A100D;
    color: #D6D5C9;
    transition: ease 1s;
}

.content-services span{
    font-size: 2rem;
    color: #902923;
}

.content-services p {
    font-size: 1.2rem;
}

.sqr-services {
    background: #D6D5C9;
    height: 23rem;
    display: block;
    width: 28%;
    float: left;
    margin: 1rem;
    padding: 1rem;
}

.sqr-services:hover{
    background: #0A100D;
    color: #D6D5C9;
    -webkit-box-shadow: 1px 1px 45px -7px rgba(214,213,201,0.61);
    -moz-box-shadow: 1px 1px 45px -7px rgba(214,213,201,0.61);
    box-shadow: 1px 1px 45px -7px rgba(214,213,201,0.61);
}

.sqr-services img{
    width: 9rem;
    margin: auto;
    display: block;
}

.Error404 h2{
    color: #D6D5C9;
    font-size: 14rem;
    text-align: center;
    width: 62%;
    margin: auto;
}

.Error404 h3{
    color: #D6D5C9;
    text-align: revert;
    margin: auto;
    margin-left: 14rem;
    font-size: 2rem;
}

.Error404 h3 p{
    display: flex;
    line-height: 0.6rem;
    font-family: 'Courier New', Courier, monospace
}

.txtBlue{
    color: rgb(3, 140, 194);
}

.txtwhite{
    color: whitesmoke;
}

.txtRed{
    color: rgb(226, 51, 21);
}

.txtGreen{
    color: rgb(43, 209, 21);
}

.itm-portafolio{
    background-color: #B9BAA3;
    padding: 2rem;
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
}

.itm-portafolio p {
    color: black;
    text-align: justify;
    font-size: 1.5rem;
    line-height: 2rem;
}

.itm-portafolio h3 {
    font-size: 32px;
    color: #902923;
}

.item-portfolio{
    background-color: #B9BAA3;
    padding: 1.5rem;
    margin-right: 2rem;
    margin-left: 2rem;
    width: 40%;
    animation-duration: 1.5s;
    animation-name: fadein;
}

.item-portfolio h4{
    margin: 0;
    font-size: 2.5rem;
    color: #902923;
    margin-bottom: 1rem;
}

.item-portfolio span{
    margin: auto;
    display: block;
    font-size: 1.3rem;
}

.item-portfolio:hover{
    background-color: rgb(26, 26, 26);
    color: #D6D5C9;
    cursor: default;
    -webkit-box-shadow: 1px 1px 45px -7px rgba(214,213,201,0.61);
    -moz-box-shadow: 1px 1px 45px -7px rgba(214,213,201,0.61);
    box-shadow: 1px 1px 45px -7px rgba(214,213,201,0.61);
}

#container-works{
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
}

.icon-portfolio{
    margin: auto;
    width: 10rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

.icon-portfolio:hover{
    animation-name: rotate360;
    animation-duration: 1s;  
}

.indication{
    visibility: visible;
    text-align: center;
    font-size: 0.9rem;
    color: #B9BAA3;
}

#txt-portfolio{
    margin-top: 4rem;
}

@keyframes rotate360 { 
    to { 
        transform: rotate(360deg); 
    } 
} 

#link-imagenes a {
    text-decoration: none;
    color: #902923;
}

#link-imagenes a:hover{
    transition: ease 1s;
    color: rgb(54, 2, 173);
}

@media (max-width: 1338px){
    .content-services p {
        font-size: 1rem;
    }
    .content-services span {
        font-size: 1.5rem;
    }
    .sqr-services {
        height: 21rem;
    }
    .center{
        width: 99%;
    }
}

@media(max-width: 1212px){
    .sqr-services {
        width: 42%;
    }
}

@media(max-width: 1130px){
    .Error404 h2 {
        font-size: 12rem;
    }
    .Error404 h3 p{
        font-size: 1.5rem;
    }
}

@media(max-width: 962px){
    .Error404 h2 {
        font-size: 10rem;
    }
    .Error404 h3 p{
        font-size: 1.3rem;
    }
    .Error404 h3 {
        margin-left: 9rem;
    }
    #container-works{
        flex-direction: column;
    }
    .item-portfolio{
        margin: auto;
        width: 80%;
        margin-bottom: 2rem;
    }
}

@media(max-width: 810px){
    .sqr-services {
        margin: 1rem;
        width: auto;
    }
    .content-services p {
        font-size: 1.5rem;
    }
    .content-services span {
        font-size: 2rem;
    }
    .Error404 h2 {
        font-size: 8rem;
    }
    .Error404 h3 p{
        font-size: 1rem;
    }
    .txt-contact h2{
        font-size: 2.5rem;
    }
}

@media(max-width: 700px){
    .itm-portafolio h3 {
        font-size: 27px;
    }
    .itm-portafolio p {
        font-size: 1rem;
        line-height: 1.2rem;
    }
    h2 {
        font-size: 2.4rem;
    }
    .itm-portafolio {
        width: 80%;
    }
}

@media(max-width: 645px){
    .Error404 h2 {
        font-size: 6rem;
    }
    .Error404 h3 {
        margin-left: 7rem;
    }
}

@media(max-width: 600px){
    .txt-contact h2{
        font-size: 1.5rem;
        margin-top: 4rem;
    }
    .center h2{
        margin-top: 5rem;
    }
}

@media(max-width: 527px){  
    .Error404 h3 p {
    font-size: 0.8rem;
    }
    .Error404 h2 {
        font-size: 5.4rem;
    }
    .Error404 h3 {
        margin-left: 5rem;
    }
    .itm-portafolio{
        padding: 1rem;
    }
    .itm-portafolio h3 {
        font-size: 19px;
    }
}

@media(max-width: 561px){
    .Presentation {
        font-size: 1.6rem;
    }
    .btn-serv button {
        margin-top: 5rem;
    }
    .footer {
        margin-top: 7rem;
    }
    .sqr-services {
        height: 24rem;
    }
    .Error404 h2 {
        margin-top: 6rem;
    }
    .default-menu{
        display: none;
    }
    .mobile-menu{
        visibility: visible;
        background: aqua;
    }
    .txt-contact p{
        font-size: 1.4rem;
    }
    #txt-portfolio {
        margin-top: 0;
    }
    .txt-contact h2 {
        margin-top: 5rem;
    }
    .center h2{
        font-size: 1.5rem;
    }
}

@media(max-width: 450px){
    .Presentation {
        font-size: 1.4rem;
    }
    .descripion{
        line-height: 2;
    }
    .Error404 h3 {
        margin-left: 3rem;
    }
    .Error404 h2 {
        font-size: 4.2rem;
    }
    .sqr-services p {
        margin-top: 0;
    }
}

@media(max-width: 376px){
    .txt-contact p {
        font-size: 1rem;
    }
    .logo {
        width: 16rem;
    }
    .Presentation {
        font-size: 1.2rem;
    }
    .content-services p {
        font-size: 1rem;
    }
    .sqr-services {
        height: 19rem;
    }
    .icon-plane {
        font-size: 9rem;
    }
    .txt-contact h2{
        font-size: 1.2rem;
    }
    .item-portfolio span {
        font-size: 1.3rem;
    }
}

@media(max-width: 321px){
    .logo {
        width: 13rem;
    }
    .center {
        margin-top: 2rem;
    }
    .Error404 h3 p {
        font-size: 0.7rem;
    }
    .Error404 h2 {
        font-size: 3.2rem;
    }
}

/*Animaciones*/

/*Animacion de los parrafos*/

p {
    animation-duration: 1.5s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-top: 100%;
    }
  
    to {
      margin-top: 1;
    }
  }

  .logo{
      animation-duration: 1s;
      animation-name: fadein;
  }

  @keyframes fadein {
      from{
          opacity: 30%;
      }
      to{
          opacity: 100%;
      }
  }

  .icon-plane{
      animation-duration: 2s;
      animation-name: plane;
  }

  @keyframes plane{
      from{
          font-size: 0px;
      }
      to{
          font-size: 1;
      }
  }

  .sqr-services img {
    animation-duration: 2s;
    animation-name: latir;
    animation-iteration-count: infinite;
  }

  @keyframes latir {
      from{
        width: 8.7rem;
      }
      to{
        width: 1;
      }
  }

  .contact {
      animation-duration: 2s;
      animation-name: formulario;
  }

  @keyframes formulario {
      from{
          margin-top: 100%;
      }
      to{
        margin-top: 1;
      }
  }