body {
    background-color: #902923;
    font-family: 'Bree Serif', serif;;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li{
    margin-right: 2rem;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    background-color: #B9BAA3;
}

.nav-bar a {
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding: 14px 16px;
    color: #A22C29;
}

.nav-bar a:hover{
    background: #902923;
    color: #D6D5C9;
}

.nav-left{
    color: #0A100D;
    float: left;
    margin: auto;
    font-size: 48px;
    margin-left: 1rem;
    display: none;
    cursor: pointer;
}

.center{
    margin: auto;
    margin-top: 3rem;
    width: 90%;
    height: auto;
}

.logo{
    width: 17rem;
    margin: auto;
    display: block;
}

.Presentation{
    color: #D6D5C9;
    text-align: center;
    font-size: 2rem;
    line-height: 1.5;
}

.btn-serv button{
    text-align: center;
    cursor: pointer;
    height: 3rem;
    margin: auto;
    display: block;
    color: #B9BAA3;
    background-color: #0A100D;
    border-radius: 16px;
    border: none;
}

.footer{
    background-color: #B9BAA3;
    color: #902923;
    font-size: 12px;
    height:auto;
    width:100%;
    margin-top: 12rem;
}

.descripion{
    text-align: center;
    color: #D6D5C9;
}

.row{
    padding: 20px;
    float: left;
    margin-left: 5rem;
    font-size: 1.2rem;
    line-height: 2;
}

.row ul li a{
    text-decoration: none;
    color: #0A100D;
}

.row ul li a:hover{
    color: #902923;
    cursor: pointer;
}

.clearfix {
    clear: both;
    float: none;
  }

.txt-footer{
    text-align: center;
    font-size: 13px;
    padding: 1rem;
}

.icon-plane{
    text-align: center;
    font-size: 11rem;
    color: #D6D5C9;
}

.txt-contact p{
    color: #D6D5C9;
    text-align: center;
    font-size: 1.5rem;
}

.txt-contact button {
    outline: none;
    border: 0;
    margin: auto;
    display: block;
    background-color: #D6D5C9;
    color: #902923;
    height: 2.5rem;
    width: 11rem;
    font-size: 22px;
    cursor: pointer;
}

.txt-contact button:hover {
    background-color: #0A100D;
    color: #D6D5C9;
    transition: ease 1s;
}

.content-services span{
    font-size: 2rem;
    color: #902923;
}

.content-services p {
    font-size: 1.2rem;
}

.sqr-services {
    background: #D6D5C9;
    height: 23rem;
    display: block;
    width: 28%;
    float: left;
    margin: 1rem;
    padding: 1rem;
}

.sqr-services:hover{
    background: #0A100D;
    color: #D6D5C9;
    -webkit-box-shadow: 1px 1px 45px -7px rgba(214,213,201,0.61);
    -moz-box-shadow: 1px 1px 45px -7px rgba(214,213,201,0.61);
    box-shadow: 1px 1px 45px -7px rgba(214,213,201,0.61);
}

.sqr-services img{
    width: 9rem;
    margin: auto;
    display: block;
}

@media (max-width: 1338px){
    .content-services p {
        font-size: 1rem;
    }
    .content-services span {
        font-size: 1.5rem;
    }
    .sqr-services {
        height: 21rem;
    }
    .center{
        width: 99%;
    }
}

@media(max-width: 1212px){
    .sqr-services {
        width: 42%;
    }
}

@media(max-width: 810px){
    .sqr-services {
        margin: 1rem;
        width: auto;
    }
    .content-services p {
        font-size: 1.5rem;
    }
    .content-services span {
        font-size: 2rem;
    }
}

@media(max-width: 561px){
    .nav-left{
        display: block;
    }
    .contents{
        display: none;
    }
    .Presentation {
        font-size: 1.6rem;
    }
    .btn-serv button {
        margin-top: 5rem;
    }
    .footer {
        margin-top: 7rem;
    }
    .sqr-services {
        height: 24rem;
    }
}

@media(max-width: 450px){
    .Presentation {
        font-size: 1.4rem;
    }
    .descripion{
        line-height: 2;
    }
}

@media(max-width: 376px){
    .txt-contact p {
        font-size: 1rem;
    }
    .logo {
        width: 16rem;
    }
    .Presentation {
        font-size: 1.2rem;
    }
    .content-services p {
        font-size: 1rem;
    }
    .sqr-services {
        height: 19rem;
    }
    .icon-plane {
        font-size: 9rem;
    }
}

@media(max-width: 321px){
    .logo {
        width: 13rem;
    }
    .center {
        margin-top: 2rem;
    }
}

/*Animaciones*/

/*Animacion de los parrafos*/

p {
    animation-duration: 1.5s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-top: 100%;
    }
  
    to {
      margin-top: 1;
    }
  }

  .logo{
      animation-duration: 2s;
      animation-name: fadein;
  }

  @keyframes fadein {
      from{
          opacity: 0%;
      }
      to{
          opacity: 100%;
      }
  }

  .icon-plane{
      animation-duration: 2s;
      animation-name: plane;
  }

  @keyframes plane{
      from{
          font-size: 0px;
      }
      to{
          font-size: 1;
      }
  }

  .sqr-services img {
    animation-duration: 2s;
    animation-name: latir;
    animation-iteration-count: infinite;
  }

  @keyframes latir {
      from{
        width: 8rem;
      }
      to{
        width: 1;
      }
  }
